#displayArea {
  margin-left: 13%;
  padding-top: 1%;    
}

body {
  background-color: #aaa;
}

.sidebar {
  height: 100%;
  width: 12%; 
  position: fixed;
  z-index: 1;
  background-color: #ddd; 
  padding: 20px 0px 0px 2px;
  padding-left: 2px;
  box-shadow: 2px 2px 2px #000;
}

.abilityBlock {
  margin: 0px 0px 6px 0px;
  padding: 3px;
  background-color: #364e85;
  box-shadow: 2px 2px 2px #000;
}

.abilityImage {
  border: solid 2px gold;
  box-shadow: 2px 2px 2px #666;
  position: inherit;
}

.abilityText {
  vertical-align: middle;
  color: white;
}

keywordmajor {
  color: #3be0e3;
}

spellactive {
  color: gold;
}

spellpassive {
  color: gold;
}

magicdamage {
  color: #25fad6;
}

scaleap {
  color: #44ebb3;
}

scalead {
 color: #e39322;
}

scalemana{
  color: #1c5ad6;
}
